<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nosotros.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../imagenes/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../imagenes/favicon-16x16.png">
    <link rel="apple-touch-icon" href="../imagenes/apple-touch-icon.png">
    <link rel="icon" href="../imagenes/favicon.ico" type="image/x-icon">
    <title>Nosotros SushiDev</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
            <img src="../imagenes/sushi dev-2.0.png" alt="Sushi Logo" class="logo-img">
            </div>
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../templates/promociones.html">Promociones</a></li>
                <li><a href="../templates/contacto.html">Contacto</a></li>
                <li><a href="../templates/nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="contacto-info">
            <div class="info-box">
                <h1>¡Hablemos!</h1>
                <p>¿Tienes dudas, sugerencias o quieres hacer un pedido especial? Estamos aquí para ayudarte.</p>

                <div class="datos-contacto">
                    <p><strong>📍 Dirección:</strong> Av. not found 404, Santiago</p>
                    <p><strong>📞 Teléfono:</strong> +56 9 1234 5678</p>
                    <p><strong>✉️ Correo:</strong> contacto@sushidev.cl</p>
                </div>

                <p class="mensaje-final">¡Síguenos en nuestras redes sociales para más promociones y novedades!</p>
            </div>
        </section>
    </main>
    <footer class="footer">
        <p>Nuestras redes:</p>
    <div class="redes">
        <a class="icono facebook" href="https://facebook.com" target="_blank"></a>
        <a class="icono instagram" href="https://instagram.com" target="_blank"></a>
        <a class="icono twitter" href="https://twitter.com" target="_blank"></a>
    </div>
    <p>&copy; Todos los derechos Reservados SushiDEV. </p>
    </footer>
</body>
</html>