<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/promociones.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="../imagenes/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../imagenes/favicon-16x16.png">
    <link rel="apple-touch-icon" href="../imagenes/apple-touch-icon.png">
    <link rel="icon" href="../imagenes/favicon.ico" type="image/x-icon">
    <title>Promociones SushiDev</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
            <img src="../imagenes/sushi dev-2.0.png" alt="Sushi Logo" class="logo-img">
        </div>
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../templates/promociones.html">Promociones</a></li>
                <li><a href="../templates/contacto.html">Contacto</a></li>
                <li><a href="../templates/nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="promociones">
            <h2>⛩️Promociones Backend⛩️</h2>
            <br>
            <div class="card">
                <img src="../imagenes/sushi-img1.webp" alt="">
                <p class="titulo-card">Node Nigiri</p>
                <p>Porción de nigiris "sin bloqueo", servidos en tiempo record.</p>
                <button class="btn-pedir">🍣 Pedir</button>
            </div>
            <div class="card">
                <img src="../imagenes/sushi-img2.webp" alt="">
                <p class="titulo-card">MongoMix</p>
                <p>Roll variado y no relacional: ingredientes inesperados, pero que combinan.</p>
                <button class="btn-pedir">🍣 Pedir</button>
            </div>
            <div class="card">
                <img src="../imagenes/sushi-img5.webp" alt="">
                <p class="titulo-card">Laravel Lunchbox</p>
                <p>Combo de almuerzo con sabores bien organizados y potente backend.</p>
                <button class="btn-pedir">🍣 Pedir</button>
            </div>
            <div class="card">
                <img src="../imagenes/sushi-img4.webp" alt="">
                <p class="titulo-card">Express Set</p>
                <p>Combo veloz con entrega inmediata. Incluye 3 rolls y sopa miso.</p>
                <button class="btn-pedir">🍣 Pedir</button>
            </div>
        </section>

        <section class="promociones2">
            <h2>⛩️Promociones Frontend⛩️</h2>
            <br>
            <div class="card">
                <img src="../imagenes/images (3).jpeg" alt="">
                <p class="titulo-card">Combo Flexbox</p>
                <p>6 rolls surtidos alineados perfectamente + bebida.</p>
                <button class="btn-pedir">🍣 Pedir</button>
            </div>
            <div class="card">
                <img src="../imagenes/descarga (2).jpeg" alt="">
                <p class="titulo-card">Sushi Grid</p>
                <p>Combinación ordenada de 6 rolls distintos, estilo "layout responsivo".</p>
                <button class="btn-pedir">🍣 Pedir</button>
            </div>
            <div class="card">
                <img src="../imagenes/proomo2.jpg" alt="">
                <p class="titulo-card">Flexbox Feast</p>
                <p>Pack flexible de nigiris y rolls, perfecto para adaptarse a todos los gustos.</p>
                <button class="btn-pedir">🍣 Pedir</button>
            </div>
            <div class="card">
                <img src="../imagenes/prromo2.jpg" alt="">
                <p class="titulo-card">CSS Combo</p>
                <p>Variedad de sabores bien estilizados. Incluye roll clásico, spicy y tempura.</p>
                <button class="btn-pedir">🍣 Pedir</button>
            </div>
        </section>

        <section class="promociones3">
            <h2>⛩️Promociones DevOps⛩️</h2>
            <br>
            <div class="card">
                <img src="../imagenes/images (4).jpeg" alt="">
                <p class="titulo-card">Restful Rolls</p>
                <p>Selección de rolls bien equilibrados, perfectos para compartir por partes.</p>
                <button class="btn-pedir">🍣 Pedir</button>
            </div>
            <div class="card">
                <img src="../imagenes/prommo3.jpg" alt="">
                <p class="titulo-card">DevOps Delight</p>
                <p>Combo para deployar felicidad: incluye rolls, bebidas y postre.</p>
                <button class="btn-pedir">🍣 Pedir</button>
            </div>
            <div class="card">
                <img src="../imagenes/promooo.555.jpg" alt="">
                <p class="titulo-card">Webhook Wasabi</p>
                <p>¡Una explosión inesperada de sabor que se activa al primer bocado!</p>
                <button class="btn-pedir">🍣 Pedir</button>
            </div>
            <div class="card">
                <img src="../imagenes/promoo6.jpg" alt="">
                <p class="titulo-card">CI/CD Combo</p>
                <p>Preparación continua, frescura garantizada. Llega en minutos a tu mesa.</p>
                <button class="btn-pedir">🍣 Pedir</button>
            </div>
        </section>
    </main>
    <footer class="footer">
        <p>Nuestras redes:</p>
    <div class="redes">
        <a class="icono facebook" href="https://facebook.com" target="_blank"></a>
        <a class="icono instagram" href="https://instagram.com" target="_blank"></a>
        <a class="icono twitter" href="https://twitter.com" target="_blank"></a>
    </div>
    <p>&copy; Todos los derechos Reservados SushiDEV. </p>
    </footer>
</body>
</html>